// 定價頁
.sale {
  &-title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 900;
  }
  .card {
    border: 1px solid #525252;
    &-footer {
      border-top: 1px solid #525252;
    }
    &-title {
      font-size: 32px;
      line-height: 1.2;
      font-weight: 900;
    }
    &-list {
      list-style: disc;
      list-style-position: inside;
    }
    &-text {
      font-weight: 900;
    }
  }
  .material-icons {
    font-size: 16px;
    vertical-align: middle;
  }
}

.rule {
  &-title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 900;
    @include mobile() {
      font-size: 20px;
      margin-bottom: 48px;
    }
  }
  &-text {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 900;
  }
  &-content {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 400;
  }
}

.problem {
  margin-top: 158px;
  margin-bottom: 160px;
  @include mobile() {
    margin-bottom: 120px;
    margin-top: 120px;
  }
  &-title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 900;
  }
}

.accordion {
  &-item {
    border: 1px solid #525252;
    border-radius: 16px;
    &-add {
      display: inline-block;
    }
    &-remove {
      display: none;
    }
    &.show {
      border-color: #fff;
      .accordion-item-add {
        display: none;
      }
      .accordion-item-remove {
        display: inline-block;
      }
      .accordion-body {
        display: block;
      }
      .accordion-btn {
        &:hover {
          border-color: transparent;
        }
      }
    }
  }
  &-body {
    display: none;
    padding: 1.25rem 2.5rem;
  }
  &-btn {
    border-color: transparent;
    &:hover {
      background: transparent;
      color: #fff;
      border-color: #fff;
    }
  }
}