// button
.btn {
  display: inline-block;
  font-size: 20px;
  line-height: 1.2;
  padding: 1.25rem 2.5rem;
  border-radius: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-outline-dark {
  background: $dark;
  color: $light;
  border: 1px solid $light;
  &:hover, .active {
    background: $light;
    color: $dark;
  }
}

.btn-outline-light {
  background: $light;
  color: $dark;
  border: 1px solid #F2F2F2;
  &:hover, .active {
    background: $dark;
    color: $light;
  }
}
