.logo {
  a {
    background: url(../images/logo.png);
    width: 246px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent:101%;
    overflow:hidden;
    white-space:nowrap;
    display: block;
    @include mobile {
      width: 149px;
      height: 24px;
    }
  }
}